@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --primary-red1: hsl(0, 36%, 70%);
  --primary-red1-900: hsl(0, 36%, 70%, .9);
  --primary-red2: hsl(0, 93%, 68%);
  --primary-red2-600: hsl(0, 93%, 68%, .6);
  --neutral-red3: hsl(0, 6%, 24%);
  --linear1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --linear2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --font-size-text: 1rem;
}

/* 
  CSS Default Reset
*/

*,
*::after,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
  background-image: url(./images/bg-pattern-desktop.svg);
}

a {
  text-decoration: none;
  color: inherit;
}

picture,
img {
  display: block;
  max-width: 100%;
}

.header {
  width: min(100% - 3rem, 64rem);
  margin-inline: auto;
  padding-block: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding-bottom: 3rem;
}

.cover img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 2rem;
  width: min(100% - 5rem, 64rem);
  margin-inline: auto;
}

.description__title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--neutral-red3);
}

.description__title--red {
  font-weight: 300;
  color: var(--primary-red1-900);
}

.description__text {
  font-size: var(--font-size-text);
  line-height: 1.5;
  color: var(--primary-red1-900);
}

.description__form {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  border-radius: 1.5rem;
  border: 1px solid var(--primary-red1-900);
}

.description__form.invalid {
  border: 1px solid var(--primary-red2-600);
}

.description__input {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  font-size: var(--font-size-text);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border: none;
  background-color: inherit;
}

.description__input::placeholder {
  color: var(--primary-red1-900);
}

.description__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: 1.75rem;
  border: none;
  border-radius: 1.5rem;
  transform: scale(1.05);
  background-image: var(--linear2);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.description__submit:active {
  filter: contrast(1.5);
}

.description__error-sign {
  padding-inline: 0.5rem;
}

.description__error-message {
  position: absolute;
  bottom: -2rem;
  left: 0;
  padding-inline-start: 1rem;
  font-size: var(--font-size-text);
  color: var(--primary-red2-600);
}

@media screen and (min-width: 1024px) {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-block: 3rem;
  }

  .content {
    flex-direction: row-reverse;
    width: 100%;
    padding-bottom: 0;
  }

  .description {
    flex-basis: 50%;
    max-width: 32rem;
    margin-inline: auto;
    padding-inline: 3rem;
  }

  .description__title {
    font-size: 3rem;
  }

  .cover {
    height: 100vh;
  }

  .cover img {
    height: 100%;
  }

  .attribution {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform ease 1000ms;
  }

  .attribution>p {
    text-align: center;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: hsla(0, 0%, 0%, 0.2);
  }

  .attribution>p>a {
    color: hsl(228, 45%, 44%);
  }

  body:hover .attribution {
    visibility: visible;
    transform: translateY(-20%);
  }
}